@model WalutyBusinessLogic.Models.GlobalExtremeValueModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <h4>For @Model.NameCurrency:</h4><br/> 
-Max value @Model.MaxValue
<br/>
-Min value @Model.MinValue