@model WalutyBusinessLogic.Models.CurrenciesComparatorModel;
@{
    ViewData["Title"] = "CurrenciesComparator";
}

<h1>Currencies Comparator</h1>
<br />
<div class="container">
    <form asp-controller="CurrencyComparision" asp-action="ShowResultCurrencyComparision" method="post">
        <div class="form-group">
            <div class="form-control">
                <label>Date</label>
                <input type="date" asp-for="Date" name="Date" />
                <span asp-validation-for="Date" class="text-danger"></span>
                <span class="text-danger">@ViewBag.DateRangeForComparison</span>
            </div>
            <div class="form-control">
                <label>First currency</label>
                <input type="text" asp-for="FirstCurrencyCode" name="FirstCurrencyCode" />
                <span asp-validation-for="FirstCurrencyCode" class="text-danger"></span>
                <span class="text-danger">ViewBag.ResultChekingCurrencyNameInConversion</span>
            </div>
            <div class="form-control">
                <label>Second currency</label>
                <input type="text" asp-for="SecondCurrencyCode" name="SecondCurrencyCode" />
                <span asp-validation-for="SecondCurrencyCode" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Show</button>
    </form>
</div>