@model CurrencyConvertionModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Currency convertion</h1>
<br/>

<div class="container">
    <form asp-antiforgery="true" asp-controller="CurrencyConvertion" asp-action="Index" method="post">
        <div class="form-group">
            <div class="form-control">
                <label>Date</label>
                <input type="date" name="FirstCurrency" />
            </div>
            <div class="form-control">
                <label>First currency</label>
                <input type="text" name="FirstCurrency" />
            </div>
            <div class="form-control">
                <label>Second currency</label>
                <input type="text" name="SecondCurrency" />
            </div>
            <div class="form-control">
                <label>Amount currency</label>
                <input type="number" name="AmountFirstCurrency" />
            </div>
        </div>
        <button type="submit" class="btn btn-success">Show</button>
    </form>

    <output type="text" asp-action="GlobalExtreme"> </output>
</div>