@model WalutyBusinessLogic.Models.LocalExtremeValueModel
@{
    ViewData["Title"] = "LocalExtremeOfForm";
}

<h1>Local extreme</h1>

<div class="container">
    <form asp-controller="LocalExtreme" asp-action="ShowLocalExtreme" method="post">
        <div class="form-group">
            <div class="form-control">
                <label>Currency </label>
                <input type="text" asp-for="NameCurrency" name="NameCurrency" />
                <span asp-validation-for="NameCurrency" class="text-danger"></span>
                @if (ViewBag.DateRangeForLocalExtreme != null)
                {
                    <span class="text-danger">@ViewBag.DateRangeForLocalExtreme</span>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="form-control">
                <label>Start date</label>
                <input type="date" asp-for="StartDate" name="startDate" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="form-control">
                <label>End date</label>
                <input type="date" asp-for="EndDate" name="endDate" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Show</button>
    </form>
</div>
