@model List<WalutyBusinessLogic.LoadingFromFile.Currency>

@{
    ViewData["Title"] = "Index";
}

<h1>Favorite currencies</h1>

@foreach (var pair in Model)
{
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Currency Code</th>
        </tr>
        <tr></tr>
        </thead>
        <tbody>
            <tr>
                <td>@pair.Name</td>
            </tr>
        </tbody>
    </table>
}

