@model WalutyBusinessLogic.Models.CurrencyConversionModel

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Currency conversion</h1>
<br/>
<div class="container">
        <form asp-controller="CurrencyConversion" asp-action="ShowResultCurrencyConversion" method="post">
            <div class="form-group">
                <div class="form-control">
                    <label>Date           </label>
                    <input type="date" asp-for="Date" name="Date" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                    @if (ViewBag.DateRangeForConversion != null)
                    {
                        <span class="text-danger">@ViewBag.DateRangeForConversion</span>
                    }
                </div>
                <div class="form-control">
                    <label>First currency </label>
                    <input type="text" asp-for="FirstCurrency" name="FirstCurrency" />

                    <span asp-validation-for="FirstCurrency" class="text-danger"></span>
                    @if (ViewBag.ResultChekingCurrencyNameInConversion != null)
                    { 
                        <span class="text-danger">@ViewBag.ResultChekingCurrencyNameInConversion</span>
                    }
                </div>
                <div class="form-control">
                    <label>Second currency</label>
                    <input type="text" asp-for="SecondCurrency" name="SecondCurrency"/>
                    <span asp-validation-for="SecondCurrency" class="text-danger"></span>
                </div>
                <div class="form-control">
                    <label>Amount currency</label>
                    <input type="number" asp-for="AmountFirstCurrency" name="AmountFirstCurrency"/>
                    <span asp-validation-for="AmountFirstCurrency" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Show</button>
        </form>
</div>