@model WalutyBusinessLogic.Models.ExtremeValue
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Local extreme</h1>

<div class="container">
    <form asp-controller="Extreme" asp-action="ShowLocalExtreme" method="post">
        <div class="form-group">
            <div class="form-control">
                <label>Currency </label>
                <input type="text" name="NameCurrency"/>
                <span asp-validation-for="NameCurrency" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="form-control">
                <label>Start date</label>
                <input type="date" name="startDate"/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="form-control">
                <label>End date</label>
                <input type="date" name="endDate"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Show</button>
    </form>
</div>

